<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <header>
        <!-- Home button / Back button -->
        <a class="home-button" href="/" title="Go home">
            <svg width="100" viewBox="0 0 745.8 140.4" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="m37.4 28.8h-37.4v-28.8h106.2v28.8h-37.6v111.2h-31.2z"/><path d="m129.2 0h31.2v54.8h52.2v-54.8h31.2v140h-31.2v-56.4h-52.2v56.4h-31.2z"/><path d="m435.8 0h32.8l24.2 91.8 26.8-91.8h27.4l27 91.8 24-91.8h32.4l-43 140.4h-27.2l-27-85.8-27.2 85.8h-27.4z"/><path d="m677 28.8h-37.4v-28.8h106.2v28.8h-37.6v111.2h-31.2z"/></g><path d="m279.2 0h96.2v28.8h-96.2z" fill="#6432ff"/><path d="m283.34 111.2h-4.14v28.8h96.2v-28.8z" fill="#6432ff"/><path d="m375.4 82.6v-26.8h-96.2v26.8h4.14z" fill="#6432ff"/></svg>
        </a>
        <!-- Menu button (mobile) -->
        <button class="menu-button" title="Toggle menu">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m4 5h16a1 1 0 0 1 0 2h-16a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2h-16a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2h-16a1 1 0 0 1 0-2z"/></svg>
        </button>
        <!-- Menu -->
        <nav>
            % if page == '':
            <a href="/" class="active-button" title="View all products">All</a>
            % else:
            <a href="/" title="View all products">All</a>
            % end
            % if page == 'men':
            <a href="/men" class="active-button" title="View men's products">Men</a>
            % else:
            <a href="/men" title="View men's products">Men</a>
            % end
            % if page == 'women':
            <a href="/women" class="active-button" title="View women's products">Women</a>
            % else:
            <a href="/women" title="View women's products">Women</a>
            % end
            <hr>
            <!-- Cart button-->
            % if page == 'cart':
            <a href="/cart" class="cart-button active-button" title="View cart">
            % else:
            <a href="/cart" class="cart-button" title="View cart">
            % end
                <div class="icon">
                    <svg viewBox="0 0 32 32" width="28" height="28" xmlns="http://www.w3.org/2000/svg">
                        <path d="m0 4h5l1 4h24l-2 14h-22l-2.5-16h-3.5zm10 20a3 3 0 0 0 0 6 3 3 0 0 0 0-6m14 0a3 3 0 0 0 0 6 3 3 0 0 0 0-6"/>
                    </svg>
                    % if cart > 0:
                    <span>{{cart}}</span>
                    % elif cart > 999:
                    <span>$</span>
                    % end
                </div>
                View cart
            </a>
        </nav>
    </header>
    <main>
    {{!base}}
    </main>
    <hr>
    <footer>
        <p>Copyright &copy; 2019 Nathan Lecompte</p>
    </footer>
    <script src="/static/main.js"></script>
</body>
</html>