<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <header>
        <!-- Home button / Back button -->
        <a class="home-button" href="/" title="Go home">
            <svg width="100" viewBox="0 0 745 141" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="m37 29h-37v-29h106v29h-38v111h-31z"/><path d="m129 0h31v55h52v-54h31v140h-31v-57h-52v57h-31z"/><path d="m435.68 1h32.7l24.13 91.54 26.73-91.54h27.32l26.92 91.54 23.93-91.54h32.31l-42.88 140h-27.12l-26.92-85.55-27.12 85.55h-27.33z"/><path d="m677 29h-38v-29h106v29h-37v111h-31z"/></g><path d="m279 0h96v29h-96z" fill="#6432ff"/><path d="m283.13 112h-4.13v29h96v-29z" fill="#6432ff"/><path d="m375 83v-27h-96v27h4.13z" fill="#6432ff"/></svg>        </a>
        <!-- Menu button (mobile) -->
        <button class="menu-button" title="Toggle menu">
            <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m4 5h16a1 1 0 0 1 0 2h-16a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2h-16a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2h-16a1 1 0 0 1 0-2z"/></svg>
        </button>
        <!-- Menu -->
        <nav>
            % if page == '':
            <a href="/" class="active-button" title="View all products">All</a>
            % else:
            <a href="/" title="View all products">All</a>
            % end
            % if page == 'men':
            <a href="/men" class="active-button" title="View men's products">Men</a>
            % else:
            <a href="/men" title="View men's products">Men</a>
            % end
            % if page == 'women':
            <a href="/women" class="active-button" title="View women's products">Women</a>
            % else:
            <a href="/women" title="View women's products">Women</a>
            % end
            <hr>
            <!-- Cart button-->
            % if page == 'cart':
            <a href="/cart" class="cart-button active-button" title="View cart">
            % else:
            <a href="/cart" class="cart-button" title="View cart">
            % end
                <div class="icon">
                    <svg viewBox="0 0 32 32" width="28" height="28" xmlns="http://www.w3.org/2000/svg">
                        <path d="m0 4h5l1 4h24l-2 14h-22l-2.5-16h-3.5zm10 20a3 3 0 0 0 0 6 3 3 0 0 0 0-6m14 0a3 3 0 0 0 0 6 3 3 0 0 0 0-6"/>
                    </svg>
                    % if cart > 0:
                    <span>{{cart}}</span>
                    % elif cart > 999:
                    <span>$</span>
                    % end
                </div>
                View cart
            </a>
        </nav>
    </header>
    <main>
    {{!base}}
    </main>
    <hr>
    <footer>
        <p>Copyright &copy; 2019 Nathan Lecompte</p>
    </footer>
    <script src="/static/main.js"></script>
</body>
</html>