<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <header>
        % if page == '':
            <a href="/" class="home" title="Go home"><h1>The WT</h1></a>
        % else:
            <a href="/" class="home back" title="Go home"><h1>The WT</h1></a>
        % end
        <a href="/cart" class="cart" title="View cart">View cart ({{cart}})</a>
    </header>
    <main>
        {{!base}}
    </main>
    <footer>
        <p>Copyright &copy; 2019 Nathan Lecompte</p>
    </footer>
</body>
</html>