/*** 
	Copyright 2019, Nathan Lecompte 
		ID: 45423725
***/

/* Global > Fonts > Muli
    Source: https://fonts.google.com/specimen/Muli
    License: OFL-1.1
*/
@font-face {
    font-family: 'Muli';
    src: local('Muli'), local('Muli-Regular'), url('muli.woff2') format('woff2'), url('muli.woff') format('woff');
    font-weight: 400;
    font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF
}
@font-face {
    font-family: 'Muli';
    src: local('Muli Bold'), local('Muli-Bold'), url('muli-bold.woff2') format('woff2'), url('muli-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF
}

/* Global > Fonts > Ilisarniq
    Source: https://www.coppersandbrasses.com/retail-fonts/ilisarniq/
    License: © 2019 Coppers and Brasses
*/
@font-face {
    font-family: 'Ilisarniq';
    src: local('Ilisarniq Bold'), local('Ilisarniq-Bold'), url('ilisarniq-bold.woff2') format('woff2'), url('ilisarniq-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
	font-display: swap;
	unicode-range: U+000-5FF
}

/* Global > CSS Variables */
:root {
    --bCol: 255, 255, 255; /* Background color */
    --tCol: 0, 0, 0; /* Text color */
    --opac: .7; /* Opacity */
    --acc1: 10, 5, 25; /* Accent color 1 */
    --acc2: 100, 50, 255; /* Accent color 2 */
}

/* Global > Page */
body {
    margin: 0 20vw;
    background: #fff; /* IE */
    background: rgb(var(--bCol));
    color: rgba(0, 0, 0, .7); /* IE */
    color: rgba(var(--tCol), var(--opac));
    line-height: 2;
    font: 400 1em 'Muli', sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	image-rendering: optimizeQuality;
    image-rendering: -webkit-optimize-contrast;
}

/* Global > Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
    font-family: 'Ilisarniq', sans-serif;
    font-weight: 600;
}

/* Global > Links */
a {
    border-radius: 2px;
    font-weight: 600;
    text-decoration: none;
    padding: 4px;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
    white-space: nowrap;
    transition: .1s ease;
}
a:active,
a:focus {
    outline: none;
    color: rgb(100, 50, 255); /* IE */
    color: rgb(var(--acc2));
    background: rgba(100, 50, 255, .1); /* IE */
    background: rgba(var(--acc2), .1);
}

/* Global > Separators */
hr {
    margin: 40px 0;
    border: none;
    height: 2px;
    background: rgba(10, 5, 25, .05); /* IE */
    background: rgba(var(--acc1), .05);
}

/* Global > Textboxes */
input,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
    display: inline-block;
    padding: 15px 20px;
    height: 20px;
    font: 400 1em 'Muli', sans-serif;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
    border: none;
    background: rgb(255, 255, 255); /* IE */
    background: rgb(var(--bCol));
    box-shadow: inset 0 0 0 2px rgb(10, 5, 25); /* IE */
    box-shadow: inset 0 0 0 2px rgb(var(--acc1));
    border-radius: 2px;
    outline: none;
    transform: none;
    transition: .2s ease;
}
input:hover,
input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='number']:hover,
input:focus,
input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='number']:focus {
    box-shadow: inset 0 0 0 2px rgb(100, 50, 255),
        0 2px 5px rgba(100, 50, 255, .2); /* IE */
    box-shadow: inset 0 0 0 2px rgb(var(--acc2)),
        0 2px 5px rgba(var(--acc2), .2);
}
::-webkit-input-placeholder {
    text-transform: capitalize;
}
:-moz-placeholder { 
    text-transform: capitalize;
}
::-moz-placeholder {  
    text-transform: capitalize;
}
:-ms-input-placeholder { 
    text-transform: capitalize;
}

/* Global > Buttons */
.button,
input[type='submit'] {
    display: inline-block;
    padding: 15px 20px;
    height: 50px;
    font: 600 1em 'Muli', sans-serif;
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
    border: none;
    background: rgb(10, 5, 25); /* IE */
    background: rgb(var(--acc1));
    box-shadow: none;
    cursor: pointer;
    outline: none;
    transform: scale(1);
    transition: .2s ease;
}
.button:hover,
input[type='submit']:hover,
.button:focus,
input[type='submit']:focus {
    background: rgb(100, 50, 255); /* IE */
    background: rgb(var(--acc2));
    box-shadow: inset 0 0 0 2px rgba(10, 5, 25, .1),
        0 2px 5px rgba(100, 50, 255, .2); /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--acc1), .1),
        0 2px 5px rgba(var(--acc2), .2);
}
.button:active,
input[type='submit']:active {
    color: rgba(255, 255, 255, .7); /* IE */
    color: rgba(var(--bCol), var(--opac));
    background: rgb(100, 50, 255); /* IE */
    background: rgb(var(--acc2));
    box-shadow: inset 0 0 0 2px rgba(10, 5, 25, .1); /* IE */
    box-shadow: inset 0 0 0 2px rgba(var(--acc1), .1);
    transform: scale(.95);
    transition: .1s ease;
}


/* Header */
header {
    display: flex;
    position: fixed;
    height: 60px;
    padding: 10px 20vw;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    background: rgb(10, 5, 25); /* IE */
    background: rgb(var(--acc1));
    box-shadow: 0 2px 5px rgba(10, 5, 25, .2); /* IE */
    box-shadow: 0 2px 5px rgba(var(--acc1), .2);
    z-index: 99;
    -webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* Header > Menu */
header nav {
    display: flex;
    align-items: center;
    margin: 0 -20px 0 auto;
}
header nav hr {
    display: block;
    margin: 0 10px;
    width: 2px;
    height: 30px;
    background: rgba(255, 255, 255, .08); /* IE */
    background: rgba(var(--bCol), .08);
}
header a,
header button {
    display: flex;
    position: relative;
    align-items: center;
    height: 20px;
    padding: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    color: rgb(var(--bCol));
    font: 600 1em 'Muli', sans-serif;
    transition: .1s ease;
}
header a:active,
header a:focus,
header button:active,
header button:focus {
    color: rgb(255, 255, 255); /* IE */
    color: rgb(var(--bCol));
    background: rgba(255, 255, 255, .1); /* IE */
    background: rgba(var(--bCol), .1);
}
header .active-button::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: -10px;
    background: rgba(100, 50, 255, .7); /* IE */
    background: rgba(var(--acc2), var(--opac));
}

/* Header > Home button */
.home-button {
    margin-left: -20px;
}
.home-button svg {
    display: block;
    position: relative;
    white-space: nowrap;
    fill: rgb(255, 255, 255); /* IE */
    fill: rgb(var(--bCol));
    z-index: 999;
}
.back-button svg {
    margin-left: 20px;
}

/* Header > Menu button */
.menu-button {
    display: none;
    align-items: center;
    margin: 0 -20px 0 auto;
    height: 60px;
}
.menu-button svg {
    margin: -2px 0 0;
    fill: rgb(255, 255, 255); /* IE */
    fill: rgb(var(--bCol));
    transition: .2s ease;
}
.menu-button:hover svg,
.menu-button:hover svg {
    fill: rgb(100, 50, 255); /* IE */
    fill: rgb(var(--acc2));
}

/* Header > Menu > Cart button */
.cart-button {
    display: flex;
    align-items: center;
}
.cart-button .icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin: 0 10px 0 0;
    overflow: hidden;
}
.cart-button .icon svg {
    position: absolute;
    fill: rgb(255, 255, 255); /* IE */
    fill: rgb(var(--bCol));
    transition: .2s ease;
}
.cart-button:hover .icon svg,
.cart-button:hover .icon svg {
    fill: rgb(100, 50, 255); /* IE */
    fill: rgb(var(--acc2));
}
.cart-button .icon span {
    position: absolute;
    margin: -4px 0 0;
    font: 600 .7em 'Ilisarniq', sans-serif;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
}


/* Main */
main {
    margin: 120px 0 40px;
}
main h2 {
    text-transform: capitalize;
}

/* Main > Products */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.product-item {
    display: flex;
    flex-direction: column; 
    flex: 1;
    padding: 5px 5px 20px;
    margin: 0 0 20px;
    transform: none;
    transition: .2s ease;
}
.product-item:hover {
    background: rgba(10, 5, 25, .025); /* IE */
    background: rgba(var(--acc1), .025);
}
.product-item:active,
.product-item:focus {
    background: rgba(10, 5, 25, .05); /* IE */
    background: rgba(var(--acc1), .05);
    opacity: .9;
}
.product-item .image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    min-width: 15vw;
    overflow: hidden;
    background: rgba(10, 5, 25, .1); /* IE */
    background: rgba(var(--acc1), .1);
}
.product-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-item .name {
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 20px 10px 10px;
    transition: .2s ease;
}
.product-item:hover .name {
    color: rgb(100, 50, 255); /* IE */
    color: rgb(var(--acc2));
}
.product-item .info {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
}
.product-item .info .cost {
    margin: 0 10px 0 auto;
    font-size: 1.1em;
}
.product-item .info .stock {
    margin: 0 0 0 10px;
    font: 400 .9em 'Muli', sans-serif;
    color: rgba(10, 5, 25, .7); /* IE */
    color: rgba(var(--acc1), var(--opac));
}

/* Main > Product */
.product {
    display: flex;
    flex-flow: row wrap;
}
.product .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex: 1 60%;
    order: 1;
    overflow: hidden;
    border-radius: 2px;
    background: rgba(10, 5, 25, .1); /* IE */
    background: rgba(var(--acc1), .1);
}
.product .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .info {
    flex: 1 40%;
    order: 2;
    margin-bottom: 30px;
}
.product .category,
.product .name,
.product .description,
.product .buy {
    margin: 20px 30px;
}
.product .category {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: .9em;
    text-transform: capitalize;
    color: rgb(100, 50, 255); /* IE */
    color: rgb(var(--acc2));
    border-radius: 2px;
}
.product .name {
    margin-top: 5px;
    font-size: 1.5em;
}
.product .buy {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.product .units {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.product .cost {
    margin: 20px 0 0 0;
    font: 600 1.4em 'Ilisarniq', sans-serif;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
}
.product .stock {
    margin: 10px 0 0;
    font: 400 .9em 'Muli', sans-serif;
    color: rgba(10, 5, 25, .7); /* IE */
    color: rgba(var(--acc1), var(--opac));
}
.product .lowstock {
    font-weight: 600;
    color: rgb(100, 50, 255); /* IE */
    color: rgb(var(--acc2));
}
.product .nostock {
    font-weight: 600;
    color:rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
}
.product form {
    display: inline-flex;
    margin: 20px 0 0;
}
.product form input[type="number"] {
    width: 90px;
    margin-right: 10px;
}

/* Main > Cart */
.cart {
    display: flex;
    flex-direction: column;
}
.cart-item {
    display: flex;
    align-items: center;
    transform: none;
    transition: .2s ease;
}
.cart-item:hover {
    background: rgba(10, 5, 25, .025); /* IE */
    background: rgba(var(--acc1), .025);
}
.cart-item:active,
.cart-item:focus {
    background: rgba(10, 5, 25, .05); /* IE */
    background: rgba(var(--acc1), .05);
    opacity: .9;
}
.cart-item .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 0;
    flex: 1 20%;
    min-width: 100px;
    overflow: hidden;
    border-radius: 2px;
    background: rgba(10, 5, 25, .1); /* IE */
    background: rgba(var(--acc1), .1);
}
.cart-item .image img {
    width: 100%;
    height: 100%;
    min-height: 100px;
    object-fit: cover;
}
.cart-item .info {
    display: flex;
    flex-direction: column;
    flex: 1 80%;
    overflow: hidden;
}
.cart-item .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0 5px;
    font-size: 1.2em;
    transition: .2s ease;
}
.cart-item:hover .name {
    color: rgb(100, 50, 255); /* IE */
    color: rgb(var(--acc2));
}
.cart-item .cost {
    margin: 5px 0;
    font-size: 1.1em;
}
.cart-item .quantity {
    margin: 0 0 20px;
    font: 400 .85em 'Muli', sans-serif;
    color: rgba(10, 5, 25, .7); /* IE */
    color: rgba(var(--acc1), var(--opac));
}

.cart-total {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
}
.cart-total h6 {
    margin: 0;
    font-size: 1em;
}
.cart-total p {
    margin: 5px 0 10px;
    font: 600 1.5em 'Ilisarniq', sans-serif;
    color: rgb(10, 5, 25); /* IE */
    color: rgb(var(--acc1));
}


/* Footer */
footer {
    margin-bottom: 40px;
    font-size: .85em;
    text-align: center;
}


/* Responsive */
@media (max-width: 1200px) {
    /* Global */
    body {
        margin: 0 10vw;
    }
    
    /* Header */
    header {
        padding: 10px 10vw;
    }

    /* Main > Product */
    .product .image {
        flex: 1 100%;
    }
    .product .info {
        flex: 1 100%;
    }
    .product .category,
    .product .name,
    .product .description,
    .product .buy {
        margin-left: 10px;
        margin-right: 10px;
    }
    .product .buy {
        align-items: center;
        flex-direction: row;
    }
    .product form {
        margin: 20px 0 0 auto;
    }
}
@media (max-width: 600px) {
    /* Global */
    body {
        margin: 0 20px;
    }

    /* Header */
    header {
        padding: 10px 30px;
    }
    /* Header > Menu */
    header nav {
        display: block;
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        padding: 0 20px 0;
        top: 70px;
        left: 0;
        right: 20px;
        background: rgb(10, 5, 25); /* IE */
        background: rgb(var(--acc1));
        box-shadow: 0 2px 5px rgba(10, 5, 25, .2); /* IE */
        box-shadow: 0 2px 5px rgba(var(--acc1), .2);
        overflow: hidden;
        height: 0;
        z-index: -1;
        transition: .4s cubic-bezier(.17,.67,.16,.99);
    }
    header nav hr {
        margin: 15px 20px;
        width: auto;
        height: 2px;
    }
    header nav a {
        display: block;
    }
    header .active-button::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 2px;
        left: -20px;
        top: 0;
        background: rgba(100, 50, 255, .7); /* IE */
        background: rgba(var(--acc2), var(--opac));
    }
    /* Header > Menu button */
    .menu-button {
        display: flex;
    }

    /* Main */
    main {
        margin-top: 110px;
    }
    /* Main > Products */
    .product-item .image {
        min-width: 50vw;
    }
    .product-item .name {
        max-width: 60vw;
    }
    /* Main > Product */
    .product .buy {
        align-items: flex-start;
        flex-direction: column;
    }
    .product form {
        margin: 20px 0 0 0;
    }
    /* Main > Cart */
    .cart-item .name,
    .cart-item .cost {
        font-size: 1em;
    }
}